<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hej <%= @user.name %>,</p>
    <p>
      Du har <%= @secret_friend %> som din secret friend denna vecka.<br/>
    </p>
    <p>
      Vara snäll mot honom eller henne och låta inte <%= @secret_friend %> att stå bakom dig när du läser detta mail :)
    </p>
    <p>Standout AB</p>
  </body>
</html>